[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Luca Ciucci
	email = luca.ciucci99@gmail.com
[init]
	defaultBranch = main
[core]
	editor = hx

[include]
	path = .gitconfig.local
[alias]
	up = pull --rebase
	current-commit = "!f() { git rev-parse ${1:-} HEAD; }; f"
