[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Luca Ciucci
	email = luca.ciucci99@gmail.com
[init]
	defaultBranch = main
[core]
	editor = hx

[include]
	path = .gitconfig.local
[alias]
	up = pull --rebase
	current-commit = "!f() { git rev-parse ${1:-} HEAD; }; f"
	retry = "!f() { \
	  cd \"$GIT_PREFIX\"; \
	  for i in 1 2 3 4 5; do \
	  	git \"$@\" && exit 0; \
	  	echo \"git $* failed. Retrying in 5 seconds...\"; \
	  	sleep 5; \
	  done; \
	  echo \"get $* failed after 5 attempts.\"; \
	  exit 1; \
	}; f"
